.appActivityLogPage {

  .appActivityLogPageHeader {

    display: flex;
    align-items: center;

    > a {

      margin-left: auto;
      margin-right: 0;
      cursor: pointer;

    }

  }

  .timezoneTableHeader {

    font-size: 11px !important;
    font-weight: 600 !important;

    span {

      font-weight: 400 !important;

    }

  }

}