.businessInsightsSection {

  .businessInsightsSectionHeader {

    display: flex;
    align-items: center;

    h3 {

      font-size: 20px;
      font-weight: 600;
      margin-right: 1rem;

    }
    
    > div {

      display: flex;
      align-items: center;

      img {

        margin-right: 8px;

      }

    }

  }

  .verificationItemsGroup {

    display: flex;
    flex-wrap: wrap;

  }

}