.changePasswordModal {

  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 4px;
  max-width: 417px;
  padding: 24px 32px;
  margin: 3rem auto;

  h3 {

    font-size: 20px;

  }

  ul {

    margin-top: 12px;
    margin-bottom: 24px;
    list-style: inside;

    li {

      font-size: 13px;

    }

  }

  .cFormRow {

    margin-bottom: 20px;

    label {

      display: block;
      margin-bottom: 8px;

    }

  }

  .changePasswordModal__buttons {

    display: flex;
    align-items: center;

    .btnChangePasswordModal {

      margin-right: 8px;

    }

  }

}